:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff !important;
  --secondary: #28a745;
  --ternary: #28a745;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #6610f2;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --site-bg: #141414;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--site-bg);
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #778298;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
}

.btn {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: large;
}

.btn-primary {
  color: #000;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--site-bg);
  border-color: var(--primary);

}

.btn-secondary {
  color: #000;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary {
  color: var(--light);
  background-color: var(--site-bg);
  border-color: var(--secondary);
}

.btn:active {
  background-color: var(--ternary);

}

.btn:hover {
  background-color: var(--ternary);
}

.btn:active {

  background-color: var(--ternary);
}

.btn:focus {
  outline-color: var(--ternary);
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding-left: 4px;
  color: white;
}

.btn-icon:hover {
  color: var(--primary);
}

.btn-icon>svg {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main {
  width: 90%;
  margin: 2rem auto;
}

.hide {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}